body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #EEEEEE;
    margin: 0;
}
.container {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);  
    margin-top: 5%;
}
.left-column {
    display: inline-block;
    width: 20%;
    background-color: #FDFDFD;
}
.main-menu {    
    color: #000;
    font-size: 10px;
    text-decoration: none;
    line-height: 2em;
    margin-top: 80px;
    width: 60px;  
    margin-left: 20px;  
}
.link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #939393;
    
}
.link:first-child {
    color: #84BCB4
}
.logo {
    margin-left: 20px; 
    line-height: 2em; 
    height: 40px;
    width: 60px;
    object-fit: contain;
}
.socials {
    margin-top: 223px;
    margin-bottom: 18px;
    margin-left: 20px;  
    padding: 0px;
}
.socials > .icon {
    margin-right: 15px;
    font-size: 10px;
    line-height: 2em;
    color: #777;
    text-decoration: none;  
}
.icon:nth-of-type(2) {
    color: #84BCB4;
}
.rigth-column {
    width: 80%;
    float: right;
}
.rigth-column > img {
    width: 100%;
}
